.btn-primary {
    margin: 5px;
    height: 75px;
    border-radius: 1rem !important;
    letter-spacing: 100%;
}

#map {
    font-size: x-large;
    font-weight: 300;
}

#content,
.title,
.subtitle,
#map {
    font-family: "Quicksand", sans-serif;
}

.title {
    font-size: x-large;
    font-weight: 700;
}

.subtitle {
    font-size: medium;
    font-weight: 500;
}

#centerhead {
    padding: 15px;
    text-align: center;
    background-color: #f6bccf;
}

#header {
    border-bottom: 2px solid black;
}

#navigator {
    height: 30em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 5px;
    position: relative;
}

#crumbs {
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    position: sticky;
}

.versesblock li {
    list-style: none;
    padding: 0.5rem;
}
.chapterheading {
    text-align: center;
}
.navheading {
    text-align: center;
}

.big {
    font-size: xx-large;
}

.arrow {
    border-radius: 1rem !important;
}

.arrow:hover {
    background-color: aquamarine;
}

/* Define a global transition for all elements */
* {
    transition: all 0.3s ease-out;
}

.slideleft-prepare-offscreen {
    left: 0%;
    opacity: 1;
}

.slideright-prepare-offscreen {
    left: 0%;
    opacity: 1;
}

.crossfade-prepare-offscreen {
    opacity: 0;
    z-index: 2;
}

/*
 * The onscreen div is in its normal position, fully opaque.
 */
.onscreen {
    left: 0%;
    z-index: 2;
    opacity: 1;
    transition: 350ms ease-out;
    transition-property: left, opacity;
}

/*
 * Unlike the "prepare" classes, the "offscreen" divs DO need to animate.
 * They end up to the left, right, and original position, respectively.
 * Note that the cross-faded offscreen div should be transparent and below
 * the onscreen div.
 */
.slideleft-offscreen {
    left: -100%;
    transition: left 350ms ease-out;
}

.slideright-offscreen {
    left: 100%;
    transition: left 350ms ease-out;
}

.crossfade-offscreen {
    opacity: 0;
    z-index: 1;
    transition: opacity 3500ms ease-out;
}

.chapter {
    position: absolute;
    width: 100%;
    top: 0;
}

/* #books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} */
